<div class="p-6 h-full">
  <h2 class="text-2xl font-semibold mb-5">Usuários</h2>

  <h4 class="text-2xl mb-4">Filtros</h4>

  <!-- Filtros -->
  <div class="flex flex-wrap gap-15 mb-20">
    <div>
      <label class="block text-sm px-2">Nome:</label>
      <input type="text" [(ngModel)]="filters.nome" class="border rounded px-2 py-1"/>
    </div>
    <div>
      <label class="block text-sm px-2">CPF:</label>
      <input type="text" [(ngModel)]="filters.cpf" class="border rounded px-2 py-1"/>
    </div>
    <button (click)="applyFilters()" class="bg-transparent text-green-800 px-0 py-0 rounded">Aplicar  <i class="bi bi-check-lg text-green-800"></i></button>
  </div>

  <div class="flex gap-2 mb-4 justify-content-end">
    <button (click)="openModal()"
            class="bg-[var(--color-primary)] text-white px-4 py-2 rounded hover:bg-[var(--color-primary-hover)]">Criar Usuário
    </button>
    <button (click)="deleteSelected()"
            class="bg-[var(--color-danger)] text-white px-4 py-2 rounded hover:bg-[var(--color-danger-hover)]">Excluir Selecionados
    </button>
  </div>

  <!-- Tabela -->

  <table class="w-full table-fixed border border-gray-200">
    <thead class="bg-gray-100">
    <tr>
      <th class="p-2 w-12">
        <input type="checkbox" (change)="selectAll($event)"
           [disabled]="!usuariosPage?.content || (usuariosPage?.content?.length ?? 0) === 0"
        />
      </th>
      <th class="p-2 text-center">Nome</th>
      <th class="p-2 text-center">Email</th>
      <th class="p-2 text-center">Cpf</th>
      <th class="p-2 text-center">Tipo</th>
      <th class="p-2 text-center">Ações</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuariosPage?.content" class="border-b">
        <td class="p-2 w-12">
          <input type="checkbox" [checked]="selectedUserIds.includes(user.id)" (change)="toggleSelection(user.id)"/>
        </td>
        <td class="p-2 text-center">{{ user.nome }}</td>
        <td class="p-2 text-center">{{ user.email }}</td>
        <td class="p-2 text-center">{{ user.cpf }}</td>
        <td class="p-2 text-center">{{ user.tipo }}</td>
        <td class="p-2 flex gap-2 justify-center">
          <button class="bg-[var(--color-accent)] p-2 rounded text-white hover:opacity-70" (click)="openModalVisualizar(user.id)">
            <i class="bi bi-eye"></i>
          </button>
          <button class="bg-[var(--color-primary)] p-2 rounded text-white hover:opacity-70">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="bg-[var(--color-danger)] p-2 rounded text-white hover:opacity-70" (click)="deleteOne(user.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="!usuariosPage?.content || (usuariosPage?.content?.length ?? 0) === 0">
        <td colspan="6" class="p-4 text-center text-gray-500 italic">
          Nenhum usuário cadastrado
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginação -->
  <div class="flex justify-between mt-4">
    <button
      (click)="prevPage()"
      class="px-3 py-1 border rounded"
      [disabled]="!usuariosPage || usuariosPage.first"
      [ngClass]="{
      'bg-gray-200 text-gray-400 cursor-not-allowed border-gray-300': !usuariosPage || usuariosPage.first,
      'hover:bg-gray-100': usuariosPage && !usuariosPage.first
    }">
      Anterior
    </button>

    <button
      (click)="nextPage()"
      class="px-3 py-1 border rounded"
      [disabled]="!usuariosPage || usuariosPage.last"
      [ngClass]="{
      'bg-gray-200 text-gray-400 cursor-not-allowed border-gray-300': !usuariosPage || usuariosPage.last,
      'hover:bg-gray-100': usuariosPage && !usuariosPage.last
    }">
      Próximo
    </button>
  </div>

  <!-- Criar Usuário -->
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    *ngIf="showModal"
  >
    <div class="bg-white rounded-lg w-full max-w-md p-6 shadow-lg relative">
      <div class="absolute top-2 right-2">
        <button
          type="button"
          (click)="closeModal()"
          class="p-2 rounded hover:bg-gray-200"
        >
          <i class="bi bi-x-lg text-gray-600"></i>
        </button>
      </div>

      <h2 class="text-xl font-semibold mb-4 text-center">Novo Usuário</h2>

      <form (ngSubmit)="createUser()">
        <!-- Email -->
        <div class="mb-4">
          <label class="block text-sm mb-1">Email</label>
          <div class="relative">
            <input
              type="email"
              [(ngModel)]="usuarioRequest.email"
              name="email"
              required
              class="border rounded w-full pl-11 pr-3 py-2"
            />
            <div class="absolute left-0 top-0 h-full w-10 flex items-center justify-center bg-[var(--color-primary)] rounded">
              <i class="bi bi-envelope text-white"></i>
            </div>
          </div>
        </div>

        <!-- Nome -->
        <div class="mb-4">
          <label class="block text-sm mb-1">Nome completo</label>
          <div class="relative">
            <input
              type="text"
              [(ngModel)]="usuarioRequest.nome"
              name="nome"
              required
              class="border rounded w-full pl-11 pr-3 py-2"
            />
            <div class="absolute left-0 top-0 h-full w-10 flex items-center justify-center bg-[var(--color-primary)] rounded">
              <i class="bi bi-person text-white"></i>
            </div>
          </div>
        </div>

        <!-- CPF -->
        <div class="mb-4">
          <label class="block text-sm mb-1">CPF</label>
          <div class="relative">
            <input
              type="text"
              [(ngModel)]="usuarioRequest.cpf"
              name="cpf"
              required
              class="border rounded w-full pl-11 pr-3 py-2"
            />
            <div class="absolute left-0 top-0 h-full w-10 flex items-center justify-center bg-[var(--color-primary)] rounded">
              <i class="bi bi-card-text text-white"></i>
            </div>
          </div>
        </div>

        <!-- Senha -->
        <div class="mb-4">
          <label class="block text-sm mb-1">Senha</label>
          <div class="relative">
            <input
              type="password"
              [(ngModel)]="usuarioRequest.senha"
              name="senha"
              required
              class="border rounded w-full pl-11 pr-3 py-2"
            />
            <div class="absolute left-0 top-0 h-full w-10 flex items-center justify-center bg-[var(--color-primary)] rounded">
              <i class="bi bi-lock text-white"></i>
            </div>
          </div>
        </div>

        <!-- Tipo de Usuário -->
        <div class="mb-5">
          <label class="block text-sm mb-1">Tipo de Usuário</label>
          <div class="relative">
            <select
              [(ngModel)]="usuarioRequest.tipo"
              name="tipo"
              required
              class="border rounded w-full pl-11 pr-3 py-2"
            >
              <option *ngFor="let role of USER_ROLES" [value]="role.value">
                {{ role.label }}
              </option>
            </select>
            <div class="absolute left-0 top-0 h-full w-10 flex items-center justify-center bg-[var(--color-primary)] rounded">
              <i class="bi bi-briefcase text-white"></i>
            </div>
          </div>
        </div>

        <div class="flex justify-center">
          <button
            type="submit"
            class="bg-[var(--color-primary)] text-white px-4 py-2 rounded"
          >
            Criar novo usuário
          </button>
        </div>
      </form>
    </div>
  </div>


  <!-- Visualizar Dados do Usuário-->

  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    *ngIf="showModalVisualizar"
  >
    <div class="bg-white rounded-lg w-full max-w-md p-6 shadow-lg relative">
      <div class="absolute top-2 right-2">
        <button
          type="button"
          (click)="closeModal()"
          class="p-2 rounded hover:bg-gray-200"
        >
          <i class="bi bi-x-lg text-gray-600"></i>
        </button>
      </div>

      <h2 class="text-xl font-semibold mb-4 text-center">Usuário</h2>

        <!-- Email -->
        <div class="mb-5 flex items-center gap-3">
          <p class="m-0 block text-lg text-shadow-lg">Email:</p>
          <p class="text-gray-500 m-0">{{ usuarioResponse?.email }}</p>
          <i class="bi bi-envelope text-purple-600"></i>
        </div>

        <!-- Nome -->
        <div class="mb-5 flex items-center gap-3">
          <p class="m-0 block text-lg text-shadow-lg">Nome:</p>
          <p class="text-gray-500 m-0">{{ usuarioResponse?.nome }}</p>
          <i class="bi bi-person text-purple-600"></i>
        </div>

        <!-- CPF -->
        <div class="mb-5 flex items-center gap-3">
          <p class="m-0 block text-lg text-shadow-lg">CPF:</p>
          <p class="text-gray-500 m-0">{{ usuarioResponse?.cpf }}</p>
          <i class="bi bi-card-text text-purple-600"></i>
        </div>

        <!-- Ativo -->
        <div class="mb-5 flex items-center gap-3">
          <p class="m-0 block text-lg text-shadow-lg">Ativo:</p>
          <p class="text-gray-500 m-0">{{usuarioResponse?.ativo ? 'Sim' : 'Nao'}}</p>
          <i class="bi bi-check-lg text-purple-600"></i>
        </div>

        <!-- Tipo de Usuário -->
        <div class="mb-5 flex items-center gap-3">
          <p class="m-0 block text-lg text-shadow-lg ">Tipo de Usuário:</p>
          <p class="text-gray-500 m-0">
            {{ usuarioResponse?.tipo === 'ROLE_ADMINISTRADOR' ? 'Administrador' : 'Associado' }}
          </p>
          <i class="bi bi-briefcase text-purple-600"></i>
        </div>

    </div>
  </div>
  <div class="h-[30px]"></div>

</div>

