<div class="h-full mt-[120px] flex items-center justify-center ">
  <div class="w-full max-w-4xl bg-white shadow rounded-lg p-8">
    <h2 class="text-2xl font-semibold mb-6">Dados Pessoais</h2>
    <form class="grid grid-cols-1 md:grid-cols-2 gap-4" (ngSubmit)="salvar()">

      <!-- Imagem -->
      <div class="col-span-2 flex flex-col items-center mb-2">
        <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center hover:border-[var(--color-primary)] cursor-pointer transition shadow  "
          (click)="fileInput.click()"
        >
          <input
            #fileInput
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            class="hidden"
          />
          <i *ngIf="!perfil.foto_url" class="bi bi-person fs-1 text-gray-500"></i>

          <img *ngIf="perfil.foto_url"
               [src]="perfil.foto_url"
               alt="Preview da imagem"
               class="w-full h-full object-cover rounded-full" />
        </div>
        <ng-container *ngIf="!perfil.foto_url">
          <span class="text-gray-500 mt-2">Selecione a imagem</span>
        </ng-container>

        <span class="text-gray-700 mt-2 text-sm" *ngIf="selectedFileName">{{ selectedFileName }}</span>
      </div>

      <!-- Nome completo -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Nome completo<span class="text-red-800">*</span></label>
        <div class="relative">
          <input type="text" name="nome" [(ngModel)]="perfil.nome"
                 placeholder="Nome completo"
                 required
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-person text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Email<span class="text-red-800">*</span></label>
        <div class="relative">
          <input type="email" name="email" [(ngModel)]="perfil.email"
                 placeholder="Email"
                 required
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-envelope text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Data de nascimento -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Data de Nascimento</label>
        <div class="relative">
          <input type="date" name="dataNascimento" [(ngModel)]="perfil.dataNascimento"
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none
  placeholder-gray-400 cursor-text"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-calendar-date text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Gênero -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Gênero</label>
        <div class="relative">
          <select name="genero" [(ngModel)]="perfil.genero"
                  class="w-full py-3 px-4 rounded text-sm pr-12 bg-gray-100 border-none focus:outline-none">
            <option value="" disabled selected>Selecione um gênero</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
          </select>
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-gender-ambiguous text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- CPF -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">CPF<span class="text-red-800">*</span></label>
        <div class="relative">
          <input type="text" name="cpf" [(ngModel)]="perfil.cpf"
                 placeholder="00000000000"
                 required
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-credit-card-2-front text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- CEP -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">CEP</label>
        <div class="relative">
          <input type="text" name="cep" [(ngModel)]="perfil.cep"
                 placeholder="00000000"
                 (blur)="buscarCEP()"
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-geo-alt text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Endereço -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Endereço</label>
        <div class="relative">
          <input type="text" name="endereco" [(ngModel)]="perfil.endereco"
                 placeholder="Rua Exemplo, 123"
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-signpost-2 text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Complemento -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Complemento</label>
        <div class="relative">
          <input type="text" name="complemento" [(ngModel)]="perfil.complemento"
                 placeholder="Apartamento, bloco 10"
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-pencil text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Telefone -->
      <div>
        <label class="text-sm font-medium text-gray-600 mb-1 block">Telefone</label>
        <div class="relative">
          <input type="text" name="telefone" [(ngModel)]="perfil.telefone"
                 placeholder="(84) 90101-0202"
                 class="w-full py-3 px-4 pr-12 rounded text-sm bg-gray-100 border-none focus:outline-none placeholder-gray-400"
          />
          <div class="absolute right-0 top-0 h-full w-10">
            <div class="h-full w-full flex items-center justify-center px-4 bg-[var(--color-primary)] rounded">
              <i class="bi bi-telephone text-white text-lg"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Botão -->
      <div class="flex justify-center col-span-2 mt-4">
        <button type="submit"
                class="px-2 bg-[var(--color-primary)] text-white font-semibold py-3 rounded hover:bg-[var(--color-primary-hover)] transition"
                [disabled]="carregando">
          Salvar Informações
        </button>
      </div>
    </form>
  </div>
    <div *ngIf="carregandoCEP" class="text-sm text-gray-500 flex items-center gap-2 mt-1">
        <i class="bi bi-arrow-repeat animate-spin text-[var(--color-primary)]"></i>
        <span>Buscando endereço pelo CEP...</span>
    </div>
</div>
<div class="h-[50px]"></div>

