<header class="main_header">
    <div class="header_container">
        <div class="main_page_text">
            <label class="main_text">Nome da pagina</label>
        </div>
        <div class="user_details">
            <i class="bi bi-bell header_icons"></i>
            <i class="bi bi-person-circle header_icons"></i>
            <ul>
                <li>Nome da pessoa</li>
                <li>Tipo da pessoa</li>
            </ul>
            <i class="bi bi-arrow-down-short"></i>
        </div>
    </div>
</header>