*{
    margin: 0;
    padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.conteudo-principal {
  flex: 1;
}


.background_color{
    display: flex;
    background-color: rgba(115, 119, 145, 0.2);
    min-height: calc(100vh - 111px);
    border-top: 1px solid rgb(209, 209, 209);
    border-top: 1px solid rgb(209, 209, 209);
}

.header_container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.main_header{
    align-items: center;
    padding-left: 50px;
    display: flex;
    height: 12vh;
}

.main_text{
    display: flex;
    font-size: 3vw;
    align-items: end;
}

.user_details{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 32px;
    gap: 20px;
}

.main_page_text{
    display: flex;
    width: 50%;
    height: 100%;
}

.header_icons{
    font-size: 32px;
}
