<div class="menu fixed top-0 left-0 h-screen">
  <div class="cabecalho">
    <h2 class="titulo">Mubook</h2>
    <p class="frase">Pronto para o próximo jogo?</p>
  </div>
  <div class="opitions">
    <a routerLink="/menu"><i class="bi bi-house"></i> Dashboard</a>
    <a routerLink="/menu"><i class="bi bi-book"></i> Quadro de Reservas</a>
    <a routerLink="."><i class="bi bi-calendar-check"></i> Gestão de Quadras</a>
    <a routerLink="/menu" class="menu-item" (click)="toggleSubmenu($event)">
      <i class="bi bi-people"></i> Gerenciar
    </a>
    <div class="submenu">
      <a routerLink="/menu">Administradores</a>
      <a routerLink="/menu">Sócios</a>
    </div>
    <a routerLink="/menu"><i class="bi bi-clock"></i> Definição de Horários</a>
    <a routerLink="/menu">
      <i class="bi bi-bar-chart-line"></i> Relatórios e Estatísticas
    </a>
  </div>
</div>
