*{
  background-color: #ffffff;
}
.menu {
  width: 242px;
  height: 100vh;
  background-color:#ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #C4BEBE;
  position: fixed;
  text-align: center;
}

.cabecalho h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 1.9rem;
  margin-top: 30px;
}

.titulo {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    #8488fe,
    #a0a3ff,
    #c2c4ff,
    #a0a3ff,
    #8488fe
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease;
}

.titulo:hover {
  animation: onda 1.5s ease-in-out forwards;
}

@keyframes onda {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.cabecalho p {
  font-size: 12px;
  margin-bottom: 40px;
  color: #b7b7b9;
  font-family: 'Inter', sans-serif;
}

.opitions a {
  display: flex;
  align-items: center;
  gap: 9px;
  text-decoration: none;
  color: #333;
  padding: 8px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.opitions i {
  font-size: 1.2rem;
}

.opitions a:hover {
  background-color: #ececfe;
  color: #8488fe;
  border-radius: 5px;
  transform: scale(1.03);
}

.opitions a:hover i {
  color: #8488fe;
  background-color: transparent;
}

.submenu {
  display: none;
  flex-direction: column;
  padding-left: 30px;
  gap: 5px;
}

.menu-item.ativo + .submenu {
  display: flex;
}
