<div class="menu fixed top-0 left-0 h-screen">
  <div class="cabecalho">
    <h2 class="titulo">Mubook</h2>
    <p class="frase">Seu jogo, sua quadra, sua reserva!</p>
  </div>

  <div class="opitions">
    <a routerLink="/home"><i class="bi bi-house"></i> Home</a>
    <a routerLink="/perfil"><i class="bi bi-person"></i> Perfil</a>
    <a routerLink="/reservas"
      ><i class="bi bi-calendar-check"></i> Quadro de Reservas</a
    >

    <!-- Quadras / Gestão de Quadras -->
    <a routerLink="/vizualizar-quadras">
      <i class="bi bi-book"></i>
      {{ isAssociado() ? "Quadras" : "Gestão de Quadras" }}
    </a>

    <!-- Admin only -->
    <a *ngIf="isAdmin()" routerLink="/gerenciar-usuarios" class="menu-item">
      <i class="bi bi-people"></i> Gerenciar Usuários
    </a>
    <a *ngIf="isAdmin()" routerLink="/definicao-horarios"><i class="bi bi-clock"></i> Definição de Horários</a>
  </div>
</div>
