/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  /* Cores principais (HEX) */
  --color-primary: #5c2ebe;
  --color-primary-hover: #4a24a1;
  --color-accent: #8A2BE2;
  --color-danger: #FF5F6C;
  --color-danger-hover: #e35561;

  /* Cores de fundo */
  --color-input-bg: #e3e3e4;
  --color-section-bg: #e5e5e5;
  --color-bg: #464255;

  /* Cores de texto */
  --color-text-gray: #4a4a4a;
  --color-link: #3b3b98;
  --color-slogan: #555555;
  --color-placeholder: #999999;

  /* Sombras (RGB) */
  --shadow-button: 0 5px 10px rgba(92, 46, 198, 0.3);
  --shadow-section: 1px 0 10px rgba(0, 0, 0, 0.05);

}

html, body {
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Remove as setas do input number no Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

